#artist {
  display: flex;
  flex-direction: column;
}

.artist-data {
  display: flex;
  flex-direction: row;
  > .artist-image {
    width: 250px;
    height: 250px;
    min-width: 250px;
    > img {
      width: 100%;
      height: 100%;
    }
  }
  > .artist-metadata {
    margin-left: 10px;
    p { margin: 0; }
    > .artist-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      > h2 {
        margin: 0;
        font-size: 36px;
      }
      > a {
        margin-left: 10px;
        > .spotify-play {
          background-image: url('../images/spotify_listen.png');
          background-size: 80px 30px;
          background-repeat: no-repeat;
          width: 80px;
          height: 30px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    > .artist-followers {
      margin-top: 5px;
      font-size: 14px;
      font-style: italic;
    }
    > .artist-genres { // genre tags
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 5px;
      > p {
        border: 1px solid $secondary;
        margin: 2px;
        padding: 2px 3px;
        font-size: 12px;
        color: $text-secondary;
      }
    }
  }
  @media screen and (max-width: $screen-md) {
    > .artist-image {
      width: 200px;
      height: 200px;
      min-width: 200px;
    }
    > .artist-metadata {
      > .artist-header > h2 {
        font-size: 28px;
      }
      > .artist-followers {
        font-size: 12px;
      }
      > .artist-genres > p {
        font-size: 10px;
      }
    }
  }
  @media screen and (max-width: $screen-sm) {
    > .artist-image {
      width: 150px;
      height: 150px;
      min-width: 150px;
    }
    > .artist-metadata {
      > .artist-header {
        flex-direction: column;
        align-items: flex-start;
        > h2 {
          font-size: 24px;
        }
        > a {
          margin-left: 0;
        }
      }
      > .artist-genres > p {
        font-size: 10px;
      }
    }
  }
}