@import 'constants';
@import 'navbar';
@import 'search';
@import 'artist';
@import 'show-list';

body,html {
  width : 100%;
  height: 100%;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: $text-dark;
}

#app, #content-wrapper {
  width: 100%;
  height: 100%;
}

#content {
  width: 100%;
  height: 100%;
  max-width: $screen-lg;
  margin-left: auto;
  margin-right: auto;
  padding: 65px 15px 15px 15px;
  box-sizing: border-box;
  @media screen and (max-width: $screen-sm) {
    padding: 55px 15px 15px 15px;
  }
}

.error-text {
  color: $error-text;
}

a {
  text-decoration: none;
  color: initial;
}

input {
  border: none;
  border-bottom: 2px solid $text-dark;
  transition: border-bottom .3s linear;
  font-size: 22px;
  &:focus {
    outline: none;
    border-bottom-color: #28A3E1;
  }
  @media screen and (max-width: $screen-md) {
    font-size: 18px;
  }
  @media screen and (max-width: $screen-sm) {
    font-size: 14px;
  }
}

button {
  background: none;
  border: 2px solid $toolbar;
  font-size: 14px;
  transition: all .3s linear;
  &:hover {
    background: $toolbar;
    color: $text-light;
    cursor: pointer;
  }
}

@mixin artist-icon-sizes ($size) {
  width: $size;
  height: $size;
  min-width: $size;
}
.artist-icon { // artist pic
  @include artist-icon-sizes(64px);
  border: 2px solid $text-dark;
  border-radius: 50%;
  > img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  @media screen and (max-width: $screen-md) {
    @include artist-icon-sizes(48px);
    border-width: 1px;
  }
  @media screen and (max-width: $screen-sm) {
    @include artist-icon-sizes(32px);
  }
}
